<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
        {% block head%}
            <title>Don't Bonk! - About</title>
        {% endblock %}
</head>
<body>
    {% block body %}
        <br>
        <h1>Why I made Don't Bonk?</h1>
        <h5>And how it can help you.</h5>
        <br>
        <p>So my last season was a mess. I’ve trained harder than I’ve ever trained. And when it came time to race - it all fell apart. I did not have a nutrition strategy. I have not fully tested my product mix. I made all the mistakes you can possibly make. <br>
<br>
And I bonked. So hard. <br>
<br>
Recognize this story?<br>
<br>
When you realize how much you’ve invested in preparing for an Ironman of Half-Ironman race just to fail your nutrition it can crush your soul. Nutrition is a solvable problem. You just have to have a process. <br>
<br>
But the problem is that nutrition is a complex subject. The body of knowledge is huge and littered with opinion. Understandable, most of the advice on the internet is, after all, the hard-earned experience of your fellow athletes. <br>
<br>
So instead of relying on anectodes you have to do your own research and earn your own experience. But where do you start?<br>
<br>
I made [dontbonk.io](http://dontbonk.io) not as just another nutrition calculator. But as a starting point of your own journey to a perfect race. It gives you a basic race day nutrition plan and shows what considerations have to be made to make it a success. I’ve included only research proven ideas into the algorithm and linked all the relevant papers so you could read them by yourself and apply what you learn to your racing or training nutrition strategies. <br>
<br>
My aim was to be somewhere between a folklore broscience and a qualified personal coach, which in my opinion is still the best option for a predictable result. <br>
<br>
[picture]<br>
<br>
It is not perfect by any means. It is just a tool. And I am looking forward to your feedback to make it better.<br></p>
    {% endblock %}
</body>
</html>