<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>This is the homepage</h1>
<h2>For testing purposes only</h2>
<p>Some text that seem unnecessary but may prove useful in the future</p>

<form>
    <label for="swim_distance">Swim distance (m)</label>
    <input type="text" id="swim_distance", name="swim_distance">
    <label for="swim_pace">Swim pace (min/100m)</label>
    <input type="text" id="swim_pace", name="swim_pace"><br>
    <br>
    <label for="t1_time">T1 transition time (min)</label>
    <input type="text" id="t1_time", name="t1_time"><br>
    <br>
    <label for="bike_distance">Bike distance (km)</label>
    <input type="text" id="bike_distance", name="bike_distance">
    <label for="bike_pace">Bike pace (kph)</label>
    <input type="text" id="bike_pace", name="bike_pace"><br>
    <br>
    <label for="t1_time">T2 transition time (min)</label>
    <input type="text" id=2t1_time", name="t2_time"><br>
    <br>
    <label for="run_distance">Run distance (km)</label>
    <input type="text" id="run_distance", name="run_distance">
    <label for="run_pace">Run pace (min/km)</label>
    <input type="text" id="run_pace", name="run_pace"><br>
    <br>


    <input type="submit" value="Submit">

</form>

</body>
</html>